R3S2/Platforma-.NET/Lab04/Zadanie_03/Podzadanie_02_BazaOsobowa/Schema/osoby.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://lab04.uz/osoby"
           targetNamespace="http://lab04.uz/osoby"
           elementFormDefault="qualified">

  <xs:element name="osoby">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="osoba" type="osobaType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="unikalneId">
      <xs:selector xpath="osoba"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <xs:complexType name="osobaType">
    <xs:sequence>
      <xs:element name="imie" type="nonEmptyString"/>
      <xs:element name="nazwisko" type="nonEmptyString"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="dataUrodzenia" type="xs:date"/>
      <xs:element name="miasto" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
